// This is where the user can use
// do calorie counting.

extends layout

block scripts
  script(type="text/javascript", src="/js/calories.js")
block sheets
  link(rel='stylesheet', href='/css/calories.css')

mixin header
  div
    div.col-sm-1.athena-calories-calendar-day sunday
    div.col-sm-1.athena-calories-calendar-day monday
    div.col-sm-1.athena-calories-calendar-day tuesday
    div.col-sm-1.athena-calories-calendar-day wednesday
    div.col-sm-1.athena-calories-calendar-day thursday
    div.col-sm-1.athena-calories-calendar-day friday
    div.col-sm-1.athena-calories-calendar-day saturday

mixin bufferCells (num)
  - for (var i = 0; i < num; i ++)
    li

mixin renderRealCells (realCells, numRealCells)
  - for (var i = 0; i < numRealCells; i++) {
  - var actualDay = i + 1;
  -   if (realCells.length - 1 >= i) {
        li
          div #{actualDay}
          div #{realCells[i]}
  -   }
  -   else {
        li
          div #{actualDay}
  -   }
  - }


block page
  include modals/calories.entry.modal.jade
  - var menu = 'calories';
  - var currentMonth = month + 1;
  - var monthArray = [];
  - monthArray.push('january');
  - monthArray.push('february');
  - monthArray.push('march');
  - monthArray.push('april');
  - monthArray.push('may');
  - monthArray.push('june');
  - monthArray.push('july');
  - monthArray.push('august');
  - monthArray.push('september');
  - monthArray.push('october');
  - monthArray.push('november');
  - monthArray.push('december');

  - var daysInMonth = function (month, year) {
  -   return new Date(year, month, 0).getDate();
  - }

  - var firstDay = new Date(year, month, 1);
  - var firstDayOfMonth = firstDay.getDay();
  - var numPrecCells =  firstDayOfMonth % 7;
  - var numRealCells = daysInMonth(month, year);
  - var numSuccCells = 42 - numRealCells - numPrecCells;
  
block content
  h1 Counting Calories
  h2 #{currentMonth}.#{date}.#{year}
  +header
  div.athena-calories-calendar
    ul
      +bufferCells(numPrecCells)
      +renderRealCells(data, numRealCells)
      +bufferCells(numSuccCells)

  div.athena-calories-calendar-footer Calendar Footer


